<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8
\
">
<title>Insert title here</title>
</head>

<link rel="stylesheet" href="kendoui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="kendoui/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="kendoui/styles/kendo.default.mobile.min.css" />

    <script src="kendoui/js/jquery.min.js"></script>
    
    
    <script src="kendoui/js/kendo.all.min.js"></script>
<!--     <script src="js/common/genexon.js"></script>
 -->


<body>
	<div id="example">
	    <div id="grid">
	    </div>
	    
	     <h4>Jikchk:</h4>
        <input id="jikchk" style="width: 50%" />
        
        <h4>Jikgubk:</h4>
        <input id="jikgub" style="width: 50%" />
        
        
        <h4>Datepicker</h4>
        <input id="datepicker" value="2022-01-18" title="datepicker" style="width: 50%" />
	    
    </div>
</body>

<script charset="UTF-8">
        $(document).ready(function () {
            $("#grid").kendoGrid({
            	toolbar:["create"],
                dataSource: {
                    type: "json",
                    transport: {
                    	read: {
                            url: "http://localhost:3333/api",
                            type: "get",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8"
                        },
                        create: {
                            url: "http://localhost:3333/api",
                            type: "post",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8"
                        },
                        update: {
                            url: "http://localhost:3333/api",
                            type: "put",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8"
                        },
                        destroy: {
                            url: "http://localhost:3333/api",
                            type: "delete",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8"
                        },
                        parameterMap: function (options, operation) {
                        	
                        	
                        	if(operation !== "read"){
                        		
                        		//mb_id는 필수 값임
                        		if(operation === "create"){
                        			options.mb_id = "HSH"
                        		}
                        		
                        		console.log(options);
                        		return JSON.stringify(options);
                        	}
                           /*  if (operation !== "read" && options.models) {
                            	console.log(options.model);
                                return kendo.stringify(options);
                            }; */
                        }
                    },
                    pageSize: 20,
                    serverPaging: {
                    	page:1,
                    	pageSize:50
                    },
                    schema:{
                    		model: {
                    			id: "emp_cd",
                    			field: {
                    		        emp_cd: { type: "String", editable: false, },
                    		        emp_nm:  { type: "String", validation: { required: true } },
                    		        perno:  { type: "String", validation: { required: true }},
                    		        jikgub: { type: "String", validation: { required: true }},
                    		        jikchk: { type: "String", validation: { required: true }},
                    		        telno: { type: "String", validation: { required: true }},
                    		        hpno: { type: "String", validation: { required: true }},
                    		        mb_id: { type: "String", validation: { required: true }},
                    		    }
                    		},
                            //data: "items"
                        }
                },
                error: function (e) {
                    // Handle error.
                    alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                },
                batch: false,
                height: 800,
                groupable: true,
                sortable: true,
                pageable: true,
                editable: "inline", // not working. need to define how to update Data through CRUD API
                columns: [
                	 {
                         title: "#",
                         template: "#= ++record #",
                         width: 50
                       }, 
                {
                    field: "emp_cd",
                    title: "Code"
                }, {
                    field: "emp_nm",
                    title: "Name"
                }, {
                    field: "perno",
                    title: "Personal Number"
                }, {
                    field: "jikgub",
                    title: "Jikgub"
                }, {
                    field: "jikchk",
                    title: "Jikchk"
                }, {
                    field: "telno",
                    title: "tel"
                }, {
                    field: "hpno",
                    title: "H.P"
                },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "170px" },
                ],
                dataBinding: function() {
                    record = (this.dataSource.page() -1) * this.dataSource.pageSize();
                  }
            });
            
            var jikchk = $("#jikchk").kendoDropDownList({
                optionLabel: "Select jikchk...",
                height: 800,
                dataSource: {
                	type:"json",
                     transport: {
                         read: "http://localhost:3333/api/jikchk",
                         type: "GET",
                         dataType: "json",
                         contentType: "application/json; charset=utf-8"
                     }
                },
                dataTextField : "value",
                dataValueField : "value"
            });
            
            var jikgub = $("#jikgub").kendoDropDownList({
                optionLabel: "Select jikgub...",
                height: 800,
                dataSource: {
                	type:"json",
                     transport: {
                         read: "http://localhost:3333/api/jikgub",
                         type: "GET",
                         dataType: "json",
                         contentType: "application/json; charset=utf-8"
                     }
                },
                dataTextField : "value",
                dataValueField : "value"
            });
            
            $("#datepicker").kendoDatePicker({
                // defines the start view
                start: "year",

                // defines when the calendar should return date
                depth: "month",

                // display month and year in the input
                format: "yyyy-MM-dd",

                // specifies that DateInput is used for masking the input element
                dateInput: true
            });
            
        });
    </script>

<script>

</script>
</html>